@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #f8f9fa;
  --background-color-dark: #333;
  --text-color-light: #000;
  --text-color-dark: #fff;
  --input-background-color-light: #fff;
  --input-background-color-dark: #444;
  --button-background-color: #007bff;
  --button-background-color-hover: #0056b3;
  --border-color-light: #ddd;
  --border-color-dark: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --input-background-color: var(--input-background-color-dark);
    --border-color: var(--border-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --input-background-color: var(--input-background-color-light);
    --border-color: var(--border-color-light);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

